body {
	background: rgb(200,200,200)
}
.column {
	border: 1px dotted blue;
	padding: 15px;
	margin: 0;
	background: white;
	padding-top: 30px
}
.a {
	width: 275px;
	vertical-align: top;
}
.b {
	width: 58%;
}
.c {
	width: 17%;
	vertical-align: top;
	padding-top: 15px;
}
.Title {
	color: blue;
}
.copyright {
	text-align: center;
}